[Record]
OutputDirectory: D:\Data\Technical\VisualInspection\images
CameraID: 0

[Crop]
crop: False
xmin: 0
ymin: 0
xmax: 640
ymax: 480

[Cloud]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Tenant: T1
CLSCell: plant1_line1_cell1
CLSProduct: cards
ODCell: plant2_line2_cell2
ODProduct: cardsod
