[Images]
Directory: D:\Images\EPRI\CotterPins\initmodel\tst\JPEGImages

[Results]
Scores: D:\Images\EPRI\CotterPins\results\ODscores.csv
OutputDirectory: D:\Images\EPRI\CotterPins\results

[Score]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Type: VI
Cell: plant2_line2_cell2
Product: EPRICotterpins
