[Images]
Directory: D:\Images\EPRI\tstfinal

[Results]
Scores: D:\Images\EPRI\tstfinal.csv
Confusion: D:\Images\EPRI\tstfinalconf.csv

[Score]
# URL: https://dlf01.aus.stglabs.ibm.com/powerai-vision/api/dlapis/c8a04258-8dca-4a25-b985-f33b622a6678
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Type: VI
Cell: plant1_line1_cell1
Product: EPRICLS25
