[Record]
ImageDirectory: /home/paul/cotterpins/tst/CotterPins
OutputDirectory: /home/paul/cotterpins/scores

[CLSRegion]
width: 256
height: 256

[ODRegion]
width: 500
height: 500

[Edge]
URL: https://localhost:8449/api/uploadScoreImage
#URL: http://localhost:5090/singlescore/
CLSProduct: EPRICotterpinCLS
CLSCell: plant1,line1,cell1
ODProduct: EPRICotterpins
ODCell: plant1_line1_cell1
ModelID: EPRICotterpins

[Cloud]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Tenant: T1
CLSCell: plant1_line1_cell1
CLSProduct: EPRICotterpinCLS
ODCell: plant1_line1_cell1
ODProduct: EPRICotterpins
