[Record]
ImageDirectory: D:\Images\EPRI\CotterPins\raw\tst\CotterPins
OutputDirectory: D:\Images\EPRI\CotterPins\scoring

[CLSRegion]
width: 256
height: 256

[ODRegion]
width: 500
height: 500

[Score]
URL: http://localhost:5090/singlescore/
CLSModelID: EPRICotterpinCLS
ODModelID: EPRICotterpins

[Cloud]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Tenant: T1
CLSCell: plant1_line1_cell1
CLSProduct: EPRICotterpinCLS
ODCell: plant2_line2_cell2
ODProduct: EPRICotterpins
