[Record]
OutputDirectory: /imageserver

[Crop]
crop: 0
xmin: 0
ymin: 0
xmax: 640
ymax: 480

[Score]
URL: http://localhost:5090/singlescore/
CLSModelID: cards
ODModelID: cards_od

[Cloud]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Tenant: T1
CLSCell: plant1_line1_cell1
CLSProduct: cards
ODCell: plant2_line2_cell2
ODProduct: cardsod
