[Images]
SourceDirectory: C:\Users\IBM_ADMIN\Pictures
OutputDirectory: D:\Data\Test\Target
WildcardPattern: *.jpg
Regex:
# Regex: ([A-Za-z]){3} ([A-Za-z]){3} ([0-9]){2} ([0-9]){2}-([0-9]){2}-([0-9]){2}\.(jpg|JPG|jpeg|JPEG)$

[Tile]
xsize: 512
ysize: 512
min_overlap: 50

[Score]
ModelType: cls
ScoreMode: Edge

[Edge]
URL: http://localhost:5090/singlescore/
ModelID: cards

[Cloud]
URL: https://iotm.predictivesolutionsapps.ibmcloud.com/ibm/iotm/vi/service/uploadScoreImage
Tenant: T1
Cell: plant1_line1_cell1
Product: cards
